.appWrapper {
  overflow: auto;
  height: 100vh;

  &.darkMode {
    background-color: #282c35;
    color: white;

    :global {
      .switchWrapper {
        .themeSwitch {
          .react-switch-bg {
            background-color: sandybrown !important;
          }
        }
      }

      .nav {
        .nav-item {
          .nav-link {
            &.active {
              background-color: #282c35;
              color: white;
            }
          }
        }
      }
    }
  }

  .appHeader {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
  }

  .tabNav {
    margin-top: 20px;

    .navItem {
      margin-left: 10px;

      &:hover {
        background-color: #282c35;
      }

      .navLink {

      }
    }
  }
}
